body {
    text-align: center;
}
.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 3rem;
}

.box {
    font-size: 2rem;
    padding: 1rem;
    background-color: #ff5722;
    color: white;
    text-transform: capitalize;
    border-radius: 1rem;
}